# Ignorar node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.swp
*.bak

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar o arquivo .env (caso use variáveis de ambiente)
.env
